<body>
    <section style="background-color: lightgray">
        <div class="container"><p>1</p></div>
        <div class="container" style="background-color: aquamarine;"><p>2</p></div>
        <div class="container" style="background-color: azure;"><p>3</p></div>
        <div class="container" style="background-color: beige;"><p>5</p></div>
        <div class="container" style="background-color: lemonchiffon;"><p>7</p></div>
        <div class="container" style="background-color: lightcoral;"><p>11</p></div>
        <div class="container" style="background-color: violet;"><p>13</p></div>
        <div class="container" style="background-color: olive;"><p>17</p></div>
        <div class="container"><p>19</p></div>
        <div class="container"><p>23</p></div>
        <div class="container"><p>29</p></div>
        <div class="container"><p>31</p></div>
        <div class="container"><p>37</p></div>
        <div class="container"><p>41</p></div>
        <div class="container"><p>43</p></div>
        <div class="container"><p>47</p></div>
        <div class="container"><p>53</p></div>
        <div class="container"><p>59</p></div>
        <div class="container"><p>61</p></div>
        <div class="container"><p>67</p></div>
        <div class="container"><p>71</p></div>
        <div class="container"><p>73</p></div>
        <div class="container"><p>79</p></div>
        <div class="container"><p>83</p></div>
        <div class="container"><p>89</p></div>
        <div class="container"><p>97</p></div>
    </section>
</body>