<section style="background-color:aliceblue">
    <p style="background-color: blue;">1</p>
    <p style="background-color: red;">2</p>
    <p style="background-color: wheat;">3</p>
</section> 
<section style="background-color:aliceblue">
    <p style="background-color: blue;">4</p>
    <p style="background-color: red;">5</p>
    <p style="background-color: wheat;">6</p>
</section> 
<section style="background-color:aliceblue">
    <p style="background-color: blue;">7</p>
    <p style="background-color: red;">8</p>
    <p style="background-color: wheat;">9</p>
</section> 