section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly; 
    border-radius: 5px;
}

.container{
    background-color: rgb(87, 182, 185);
    width: 350px;
    height: 30px;
    margin: 10px;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: gray;
    text-align: center;
    font-size: large;
}

p{
    color:black;
}